<!doctype html>
<html lang="pt-BR">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{!--
    <link rel="stylesheet" type="text/css" href="../css/results.css"> --}}
    <title>User DB</title>
</head>

<body>
    {{#if ResultadoUsers}}
    <h1>Usuários:</h1>
    <form action="/filtro" method="post" class="form-container">
        <label for="search">Pesquisar nome:</label>
        <input type="search" name="filtro" id="filtro" value="">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
    <table class="table">
        <tr>
            <th style="width: 10%;">ID</th>
            <th style="width: 20%;">Nome</th>
            <th style="width: 15%;">Email</th>
        </tr>
        {{#each ResultadoUsers}}
        <tr>
            <td style="width: 10%;">{{idUser}}</td>
            <td style="width: 20%;">{{nome}}</td>
            <td style="width: 15%;">{{email}}</td>
            <td style="width: 20%;">
                <a href="/deletarUser/{{idUser}}"><button class="btn btn-danger bi bi-trash-fill">Apagar User</button></a>
            </td>
            <td style="width: 20%;">
                <a href="/modUser/{{idUser}}"><button class="btn btn-primary">Modifica User</button></a>
            </td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
    <a href="/filtro"><button class="btn btn-primary">Pesquisar livros</button></a>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
</body>

</html>